<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>

    <section class="login ">
        <div class="login-wrapper section-spacing">
            <form class="form">
                <div class="input-data">
                    <input type="text" placeholder="Enter Name" class="username">
                </div>
                <div class="input-data">
                    <input type="email" placeholder="Enter Email" class="useremail">
                </div>
                <div class="input-data">
                    <input type="password" placeholder="Enter Password" class="userpass">
                </div>
                <div class="input-data">
                    <input type="password" placeholder="Enter Confirm Password" class="userCpass">
                </div>
                <div class="submit-btn">
                    <a hre='/login' class="signin-btn">Sign In</a>
                </div>
            </form>

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/sinin.js"></script>
</body>

</html>